@model Rascal.ViewModel.DetailChannelViewModel
@{
    ViewData["Title"] = "Home Page";
}


<h1 class="display-4">Rascal Chat Client</h1>
<br />
@foreach (var item in Model.ListMessages)
{
    <div class="card box-shadow">
        <div class="card-header text-left">
            <img src="@item.Author.AvatarUrl" alt="Avatar" width="50" height="50" class="rounded-circle" title="@item.Author.Username" /> @item.Author.Username - @item.Created
        </div>
        <div class="card-body text-left">

            <p>@item.Content</p>


        </div>
    </div>
    <br />
}
<br />

<a asp-action="PostMessage"  asp-route-Id="@Model.Id" class="btn btn-info">Send message</a>


