@model Rascal.ViewModel.DetailChannelViewModel
@{
    ViewData["Title"] = "Home Page";
}


<h1 class="display-4">Rascal Chat Client</h1>
<br />
<div class="row">
    <div class="col-2">
        <ul>
            @foreach (var item in Model.ChannelsDb)
            {
            <li>
                <a asp-controller="Home" asp-action="Index" asp-route-id="@item.Id"><img src="@item.IconUrl" width="50" height="50" class="rounded-circle" title="@item.Name" /></a>
                <a asp-controller="Home" asp-action="UpdateChannel" asp-route-id="@item.Id">Update Chanel</a>

            </li>
            }
            <li>
                <a asp-controller="Home" asp-action="Index" asp-route-id="">Main Channel</a>
            </li>
        </ul>
        </div>
    <div class="col-10">
        @foreach (var item in Model.ListMessages)
        {
            <div class="card box-shadow">
                <div class="card-header text-left">
                    <img src="@item.Author.AvatarUrl" alt="Avatar" width="50" height="50" class="rounded-circle" title="@item.Author.Username" /> @item.Author.Username - @item.Created
                </div>
                <div class="card-body text-left">

                    <p>@item.Content</p>


                </div>
            </div>
            <br />
        }
        <br />

        <a asp-action="PostMessage" asp-route-Id="@Model.Id" class="btn btn-info">Send message</a>
    </div>
</div>



